
header {color:rgb(241, 209, 0);
  text-shadow: 2px 2px #d7a852


}



body{background-color: rgb(3, 30, 83);


}


h2{color: rgb(253, 221, 12);



}
p { color:rgb(253, 221, 12);
  font-weight: bolder;
  font-size: larger;




}
li
{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;



}